.drawing-board {
    width: 50vw;
    height: 50vw;
    background: url("./img/gnome-grass.jpg");
    background-size: 50vw;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: auto;
}

.pixel {
    border:2px solid blueviolet;
    flex: auto;
}