.drawing-board {
    width: 50vw;
    height: 50vw;
    background: url("./img/gnome-grass.jpg");
    background-size: 50vw;
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
}

.row {
    display: flex;
    flex: auto;
}

.pixel {
    background-color: white;
    flex: auto;
    user-select: none;
}